.conten-list {
    display: flex;
    justify-content: space-around;
}

.box-list {
    width: 40%;
    &__description {
        min-height: 50%;
        margin-top: 10px;
        width: 100%;
    }
    &_text {
        display: flex;
        justify-content: space-around;
        &--context {
            margin: 0 0 0 20% !important;
            justify-content: space-between;
            width: 65%;
        }
    }
}

.box-text {
    display: flex;
    justify-content: space-around;
}

.text-title-list {
    font-weight: bold;
}